body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3e3d42;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  text-align: center;
  position: fixed;
}

.cell {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #3e3d42;
}

.cell h1 {
  margin: 0;
  padding: 0;
  width: 41px;
  height: 41px;
} 

.cell-container {
  color:#ff2851;
  background-color: #3e3d42;
  flex-grow: 1;
  width: auto;
}

.link  {
  flex-grow: 1;
}

.link a {
  text-decoration: none;  
}